.usercontent {
  padding-top: 120px;
  color: black;
  // background: linear-gradient(#00ff73, rgba(255, 255, 255, 0));

  .userdetails {

    .userftext {
      .useritem {
        color: black;

        .usersetup {
          .line {
            background-color: #f8e3e3;
            width: 2px;
            height: 50px;
            margin: 0px;
            gap: 5px;
            // margin-top: 5px;
          }

          #a {
            text-decoration: none;
            color: black;
            // display: none;
            width: 50px;

            .useremailp {
              // margin-top: 5px;
              font-style: bold;
              text-decoration: none;
            }
          }

        }

      }

      .userdtext {
        .se {
          .userpup {
            color: black;
          }
        }
      }
    }

    .userpost {
      width: 360px;
      margin: auto;

      #TabView {
        background-color: black;
      }

      .userpostdetailswithpost {
        // background-color: #00ff73;
        border-radius: 20px;
        padding-top: 10px;
        // display: flex;
        // justify-content: center;
        gap: 30px;

        ul {
          gap: 50px;
          // display: flex;

          .userpostwithgap {
            display: grid;
            margin-top: 60px;

            .userdeatilswithacs{
              margin: 0px;
              display: flex;
              justify-content: space-between;
              .postuseradmin{
                align-items: center;
                .useremailp{
                  // display: grid;
                  margin: 0px;
                  p{
                    margin: 0px;
                    font-size: 10px;
                  }
                }
              }
            }
            .accesimguser {
              overflow: hidden;

              img {
                background-clip: content-box;
                max-width: 250px;
                max-height: 300px;
                scale: 1.5;
                margin: 0px;
                display: flex;
                justify-content: center;
              }

            }
          }
        }
      }

      .monetizationfirst {
        text-align: start;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px;

        .monete {
          text-align: center;

          .mon {
            text-align: center;
            font-size: 30px;
          }
        }

        Button {
          color: black;
        }

        .fstep {
          padding-top: 30px;

        }


      }
    }

    @media (max-width: 500px) {
      .userpost {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}