.p{
    color: white;
    .postview{
        .usercontent{
            gap: 20px;
            text-align: justify;
            margin-left: 20%;
            margin-right: 50%;
            width: 1000px;
            padding: 30px;
            .userfirstcontentback{
                color: rgb(85, 81, 81);
            }
            .userfirstcontentdev{
                font-size: 30px;
            }
            .userfirstcontentimg{
                margin-left: 30%;
                
            }
        }


    }
}