.userprofileaccesPage{
    // background: linear-gradient(#14281D, rgba(0, 128, 0, 0.527));
    display: flex;
    // flex-direction: column;
    // align-items: center;
    justify-content: center;
    width: 100%;
    // height: 100vh;
    background: #f0f0f0;
    text-align: center;
    padding-top: 50px;
    .useraccesContent{
        
        .useraccesContent1{
            .useraccesContent2{
                margin-top: 50px;
                display: flex;
                gap: 10px;
                // margin: 0px;
                .userdetaonacc{
                    margin: 0px;
                    p{
                        margin: 0px;
                    }
                }
            }
        }
        .useraccesContent4{
            // background: linear-gradient(#00ff73, rgba(255, 255, 255, 0));
            background-color: white;
            border-radius: 20px;
            .useracdetailscontainer{
                // background-color: rgb(245, 239, 239);
                border-radius: 30px;
                padding-left: 10px ;
                // padding-right: 10px ;
                gap: 50px;
                margin-top: 5px;
                // background: linear-gradient(#00ff73, rgba(255, 255, 255, 0));
                .alikcontentac{
                    text-align: start;
                    text-decoration: none;
                    color: black;
                    img{
                        max-width: 250px;
                        max-height: 300px;
                        border-radius: 20px;
                    }
                    .atagac{
                        text-decoration: none;
                        text-align: start;
                    }
                    .toptoolfe{
                        gap: 10px;
                        // background-color: #f0f0f0;
                        .views{
                            margin-top: 3px;
                        }
                    }
                }
            }

        }

    }
}