.p{
    color: white;
    background-color: #14281d;
    .postview{
        background-color: #14281d;
        .usercontent{
            background-color: #14281d;
            gap: 20px;
            text-align: justify;
            margin-left: 20%;
            margin-right: 50%;
            width: 1000px;
            padding: 30px;
            .userfirstcontentback{
                color: rgb(85, 81, 81);
            }
            .userfirstcontentdev{
                font-size: 30px;
            }
            .userfirstcontentimg{
                margin-left: auto;
                img{
                    width: 700px;
                }
                
            }
        }


    }
    @media (max-width:1000px) {
        .postview{
            .usercontent{
                gap: 20px;
                text-align: justify;
                margin-left: 10%;
                margin-right: 20%;
                width: 750px;
                padding: 30px;
                .userfirstcontentback{
                    color: rgb(85, 81, 81);
                }
                .userfirstcontentdev{
                    font-size: 30px;
                }
                .userfirstcontentimg{
                    margin-left: 20%;
                    margin-left: auto;
                    img{
                        width: 700px;
                    }

                    
                    
                }
            }
    
    
        }
    }
    @media (max-width:700px) {
        .postview{
            .usercontent{
                gap: 20px;
                text-align: justify;
                margin-left: 15%;
                margin-right: 20%;
                width: 450px;
                padding: 30px;
                .userfirstcontentback{
                    color: rgb(85, 81, 81);
                }
                .userfirstcontentdev{
                    font-size: 30px;
                }
                .userfirstcontentimg{
                    margin-left: auto;
                    img{
                        width: 600px;
                    }
                }
            }
    
    
        }
    }
    @media (max-width:500px) {
        .postview{
            .usercontent{
                gap: 20px;
                text-align: justify;
                margin-left: 0%;
                margin-right: 0%;
                width: 450px;
                padding: 30px;
                .userfirstcontentback{
                    color: rgb(85, 81, 81);
                }
                .userfirstcontentdev{
                    font-size: 30px;
                }
                .userfirstcontentimg{
                    margin-left: auto;
                    img{
                        width: 400px;
                    }
                    
                }
            }
    
    
        }
    }
    @media (max-width:400px) {
        .postview{
            .usercontent{
                color: white;
                gap: 20px;
                text-align: justify;
                margin-left: 0%;
                margin-right: 0%;
                width: 350px;
                padding: 30px;
                .userfirstcontentback{
                    color: rgb(85, 81, 81);
                }
                .userfirstcontentdev{
                    font-size: 30px;
                }
                .userfirstcontentimg{
                    margin-left: auto;
                    img{
                        width: 300px;
                    }
                    
                }
            }
    
    
        }
    }
}