.p {
  background-color: rgb(85, 230, 128);
  .p {
    .postview {
      margin-left: 25%;
      margin-right: 25%;
      .userfirstcontentdev {
        font-size: 30px;
      }
      .userfirstcontentimg {
        img {
          width: 700px;
        }
      }
    }
    @media (max-width: 1000px) {
      .postview {
        // display: none;
        margin-left: 10%;
        margin-right: 1%;
      }
    }
    @media (max-width: 700px) {
      .postview {
        // display: none;
        margin-left: 10%;
        margin-right: 1%;
        .userfirstcontentimg {
            img {
              width: 500px;
            }
          }
      }
    }
    @media (max-width: 500px) {
      .postview {
        // display: none;
        margin-left: 10%;
        margin-right: 10%;
        .userfirstcontentimg {
            img {
              width: 400px;
            }
          }
      }
    }
    @media (max-width: 400px) {
      .postview {
        // display: none;
        margin-left: 10%;
        margin-right: 10%;
        .userfirstcontentimg {
            img {
              width: 300px;
            }
          }
      }
    }
  }
}
