.header{
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    .logo{
        justify-content: space-between;
        .ologo{
            height: 80px;
            width: 80px;
        }
        .login{
            align-items: center;
            gap: 50px;
            .textab{
                background: linear-gradient(150deg,#14281D,#00ff73);
                text-align: center;
                height: fit-content;
                width: fit-content;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px;
                .texta{
                    // background-color: black;
                    color: white;
                    text-decoration: none;
                }
            }
            .textab:hover{
                background-color: white;
                color: black;
                transform: 2;
                scale: 1.1;
                .texta{
                    // background-color: black;
                    color: black;
                    text-decoration: none;
                }
            }
            .pi{
                border-radius: 10px;
            }
 
        }
    }
}