.headera {
    justify-content: space-between;
    // background-color: rgb(0, 255, 55);
    position: fixed;
    background: rgba(0, 0, 0, 0.151);
    /* semi-transparent */
    backdrop-filter: blur(10px);
    /* blur background */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* subtle border */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // display: flex;
    z-index: 1000;
    width: 100%;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;

    .logo {
        justify-content: space-between;

        a {
            img {
                width: 75px;
                // margin-left: 50px;
                // padding-left: 100px;
                margin-left: 150px;
                // margin: 0px;
                // align-items: center;

            }

            @media (max-width: 500px) {
                img {
                    margin-left: 10px;
                }
            }
        }

        .login {
            align-items: center;
            gap: 50px;

            .textab {
                background: linear-gradient(150deg, #14281D, #000000);
                text-align: center;
                height: fit-content;
                width: fit-content;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px;

                .texta {
                    // background-color: black;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }
            }

            .textab:hover {
                background-color: rgb(0, 0, 0);
                color: black;
                transform: 2;
                scale: 1.1;

                .texta {
                    // background-color: black;
                    color: black;
                    text-decoration: none;
                }
            }

            .pi {
                border-radius: 10px;
            }

        }
    }
}