.header{
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    .logo{
        justify-content: space-between;
        .ologo{
            height: 80px;
            width: 80px;
        }
        .login{
            align-items: center;
            gap: 50px;
            .texta{
                color: white;
                text-decoration: none;
            }
            .pi{
                border-radius: 10px;
            }
 
        }
    }
    .line{
        background-color: white;
        width: 100%;
        height: 2px;
        border-width: 1px;
        color: white;
    }

}