.pd{
    padding: 5px;
    background-color: #fff6f5;
    .line{
        background-color: black;
        width: 100%;
        border-width: 2px;
        color: black;
    }
    .dropdowna{
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        .btclass{
            color: rgb(0, 0, 0);
        }
        .dropdown{
            color: rgb(0, 0, 0);
            a{
                text-decoration: none;
            }
            .btclass{
                // color: black;
            }
        }
        .dropdownab{
            .btn{
                // background-color: rgba(0, 128, 0, 0.527);
                border-color: transparent;
                a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                }
            }
        }
        .dropdownac{
            .btn{
                // background-color: rgba(255, 0, 0, 0.473);
                border-color: transparent;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .dropdown-menu{
            display: none;
        }
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    @media (max-width: 950px) {
        .dropdowna{
            padding-left: 10px;
            padding-right: 10px;
            .dropdownab{
                display: none;

            }
            .dropdownac{
                display: none;
            }
        }
    }
    @media (max-width: 500px) {
        .dropdowna{
            padding-left: 10px;
            padding-right: 10px;
            .dropdown{
                .btn{
                    font-size: 10px;
                }
                .dropdownt{
                    display: none;
                }
            }
            
            .dropdownab{
                display: none;

            }
            .dropdownac{
                display: none;
            }
        }
    }
}