.pd{
    padding: 5px;
    background-color: #14281D;
    .line{
        background-color: white;
        width: 100%;
        border-width: 2px;
        color: white;
    }
    .dropdowna{
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        .dropdown{

            
            .btn{
                background-color: transparent;
                color: white;
            }
        }
        .dropdownab{
            .btn{
                background-color: rgba(0, 128, 0, 0.527);
                border-color: transparent;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .dropdownac{
            .btn{
                background-color: rgba(255, 0, 0, 0.473);
                border-color: transparent;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .dropdown-menu{
            display: none;
        }
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    @media (max-width: 950px) {
        .dropdowna{
            padding-left: 10px;
            padding-right: 10px;
            .dropdownab{
                display: none;

            }
            .dropdownac{
                display: none;
            }
        }
    }
    @media (max-width: 500px) {
        .dropdowna{
            padding-left: 10px;
            padding-right: 10px;
            .dropdown{
                .btn{
                    font-size: 10px;
                }
            }
            .dropdownab{
                display: none;

            }
            .dropdownac{
                display: none;
            }
        }
    }
}