.Foot{
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 130px;
    background-color: rgb(3, 71, 34);
    color: white;
    .quicklink{
        justify-content: space-between;
        gap: 100px;
    }
    .subscrib{
        gap: 10px;
        input{
            border-radius: 10px;
            width: 300px;
            border-color: transparent;
            outline-width: 0px;
            background: rgb(3, 71, 34);
            color: white;
        }
        .at{
            height: 50px;
            border-radius: 5px;
        }
        button{
            background: rgb(3, 71, 34);
            color: white;
            border-width: 0px;
        }
    }
}
.copy{
    display: flex;
    justify-content: space-between;
    background: rgb(3, 71, 34);
    color: white;
    padding-left: 80px;
    padding-TOP: 10px;
    padding-right: 130px;
    a{
        text-decoration: none;
    }
    p{
        a{
            color: red;
        }
    }
}
@media (max-width: 575px) {
    .Foot{
        display: grid;
        padding-left: 40px;
    }
    .copy{
        padding-left: 45px;
        display: flex;
        gap: 50px;
        padding-right: 50px;
        p{
            display: flex;
        }
        .taa{
            display: none;
        }
    }
}