.login-container{
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-width: 5px;
    border-color: #fff6f5;
    background-color: rgb(0, 255, 55);
    color: white;
    display: flex;
    .logos{
        // display: flex;
        margin-left: auto;
        margin-right: auto;
        .ologo{
            width: 300px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        img{
            width: 50px;
            height: 50px;
            mix-blend-mode: screen;
        }
        h2{
            margin-top: 5px;
        }
    }
    .logincontent{
        gap: 20px;
        display: grid;
        width: 360px;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        padding: 20px;
        background: linear-gradient(rgba(0, 184, 40, 0.63),rgb(0, 255, 55));
        .extraauth{
            display: flex;
            gap: 100px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: black;
            .g{
                // background: linear-gradient(150deg,#14281D,rgb(0, 255, 55));
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                gap: 10px;
                a{
                    color: rgb(255, 255, 255);
                }
            }
            .f{
                // background: linear-gradient(150deg,#14281D,rgb(0, 255, 55));
                text-align: center;
                border-color: #14281D;
                padding: 10px;
                border-radius: 5px;
                a{
                    color: rgb(255, 255, 255);
                }
            }
        }
        Button{
            background: linear-gradient(150deg,#1bff82,rgb(0, 255, 55));
        }

        a{
            text-decoration: none;
            color: white;
        }
        
    }

}