.li{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    padding-left: 400px;
    padding-right: 400px;
    .mdg{
        background-color: black;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
        padding: 20px;
        border-radius: 10px;
    }
}