.lgin{
    margin-left: 35%;
    margin-top: 5%;
    background-color: black;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    padding: 10px;
    h2{
        margin-left: 25%;
        color: white;
    }
    .lggg{
        margin-left: 10%;
        .lge{
            width: 80%;
        }
        .bt{
            margin-left: 15%;
            color: black;
            button{
                border-width: 0px;
                width: 100px;
                height: 40px;
                border-radius: 20px;
            }
            .btb{
                margin-left: 5%;
                
                
                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }

    }

}